{% extends 'Todo/base.html' %}

{% block body %}
    <form action="{% url 'delete' task.id %}" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                Delete task
            </div>
          <div class="card-body">
            <h5 class="card-title">Are you sure you want to delete <span class="pink">{{ task.task }}</span>?</h5>
            <div>
                <a class="btn btn-info" href="{% url 'index' %}">No, go back</a>
                <button type="submit" class="btn btn-danger">Yes, delete</button>
            </div>

          </div>
        </div>
    </form>
{% endblock %}