{% extends 'Todo/base.html' %}
{% block body %}

    <form action="{% url 'update' task.id %}" method="POST">
    {% csrf_token %}
        <div class="card">
          <div class="card-header">
            Update Task
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-10">
                    <label for="id_task">Task:</label>
                    <p><input type="text" class="form-control" name="task" value={{ task.task }} maxlength="100" required id="id_task"></p>
                      <div>
                  <a href="{% url 'index' %}" class="btn btn-info marginr">&lt;- Go back</a>
                  <button type="submit" class="btn btn-primary">Update</button>
              </div>
                  </div>
                  <div class="col-2 text-center">
                    <label for="id_complete">Completed:</label>
                        <div >
                            {% if task.complete %}
                                <input  style="height:2rem; width:2rem" type="checkbox" name="complete" id="id_complete" checked>
                            {% else %}
                                <input  style="height:2rem; width:2rem" type="checkbox" name="complete" id="id_complete" >
                            {% endif %}
                        </div>
                  </div>
              </div>


          </div>
        </div>
    </form>

{% endblock %}